[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pylint = "*"
autopep8 = "*"

[packages]
numpy = "*"
gcloud = "*"
google-cloud = "*"
google-cloud-texttospeech = "*"
selenium = "*"
google-cloud-speech = "*"
pyqt5 = "*"
playsound = "*"
pyobjc = "*"
pyaudio = "*"

[requires]
python_version = "3.7"
